@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: "Climate Crisis", cursive;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

body {
  background-color: white;
  color: black;
  font-family: "Climate Crisis", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
body h1 {
  font-family: "Climate Crisis", cursive;
  font-weight: 500;
  font-size: 30px;
  align-content: center;
}
body h2 h5 {
  color: #FFD200;
  font-weight: 200;
  font-size: 30px;
}

/* Estilos: animaciones */
.card:hover {
  transform: scale(1.1);
}

#set {
  transition: all 0.5s;
}

#set:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

:link {
  color: white;
  font-weight: bold;
}

::-moz-selection {
  background-color: #FFD200;
  color: black;
}

::selection {
  background-color: #FFD200;
  color: black;
}

/* Estilos: grid */
.grid {
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2" "item1 item3";
  gap: 2rem;
}

.grid_item {
  border-radius: 2rem;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grid_item h3 {
  color: black;
  background-color: #FFD200;
  font-family: "Climate Crisis", cursive;
  font-weight: 400;
  padding: 0.5rem;
}

.grid_item1 {
  grid-area: item1;
  background-image: url("../img/categoria-1.png");
  height: 700px;
}

.grid_item2 {
  grid-area: item2;
  background-image: url("../img/categoria-parlantes_1.jpg");
}

.grid_item3 {
  grid-area: item3;
  background-image: url("../img/categoria-3.jpg");
}

.grid_item {
  transition: 0.5s;
}

.grid_item:hover {
  transform: scale(1.1);
}

/* Estilos: cards */
.card {
  transition: 0.5s;
}
.card .card img {
  max-width: 100%;
}
.card .card img .card p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

.card-tienda {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-tienda .card-tienda h4, .card-tienda a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.card-tienda a {
  color: white;
  background-color: #FFD200;
  padding: 0.75rem;
  text-decoration: none;
}

/* Estilos: Carrusel marcas */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 1000px;
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 9s linear infinite;
}

.slide img {
  height: 100px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider::before, .slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.cards {
  display: flex;
}

footer {
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=estilo.css.map */