
body {
    background-color: white;
    color: black;
    font-family: "Climate Crisis", cursive;
    font-family: "Raleway", sans-serif;
    font-weight: 200;

    h1 {
        font-family: "Climate Crisis", cursive;
        font-weight: 500;
        font-size: 30px;
        align-content: center;
      }
      
      h2 h5 {
        color: #FFD200;
        font-weight: 200;
        font-size: 30px;
      }
    }
  
  /* Estilos: animaciones */
  .card:hover {
    transform: scale(1.1);
  }
  
  #set {
    transition: all 0.5s;
  }
  
  #set:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  :link {
    color: white;
    font-weight: bold
  }
  
  ::selection{
    background-color: #FFD200;
    color:black
  }
  
  /* Estilos: grid */
  .grid {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "item1 item2"
        "item1 item3";
    gap: 2rem;

    @include mobile {
      flex-direction: column;
    }
    
    .grid_item {
        border-radius: 2rem;
        background-size: cover;
        background-position: center center;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        
      }
      
    .grid_item h3 {
        color: black;
        background-color: #FFD200;
        font-family: "Climate Crisis", cursive;
        font-weight: 400;
        padding: .5rem;
      }

    .grid_item1 {
        grid-area: item1;
        background-image: url("../img/categoria-1.png");
        height: 700px;
      }
      
    .grid_item2 {
        grid-area: item2;
        background-image: url("../img/categoria-parlantes_1.jpg");
      }
      
    .grid_item3 {
        grid-area: item3;
        background-image: url("../img/categoria-3.jpg");
      }
    
    .grid_item {
        transition: 0.5s;
      }
      
    .grid_item:hover {
        transform: scale(1.1);
      }
  }
  
/* Estilos: cards */
  .card {
    transition: 0.5s;
    
    .card img {
        max-width: 100%;
        
        .card p {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            color: black;
          }
      }
  }
  
  .card-tienda {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-tienda h4, a {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    
        .card-tienda a {
            color: white;
            background-color: #FFD200;
            padding: .75rem;
            text-decoration: none;
          }
    
      }
  }
  
  .cards {
    display: flex;
    }