body {
    background-color:white;
    color: black;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 500;
    font-size: 30px;
    align-content: center;
}

h2 {
    color: $mainColor;
    font-weight: 200;
    font-size: 30px;
}

h5 {
    color: $mainColor;
}

blockquote {
    color: black;
}

.card-textt {
    color:white;
    font-weight: 200;
    font-size: 17px;
}

.btn {
    color:black;
 }

.card {
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
}

#set {
    transition: all 1s;
}

#set:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
