@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap");

$fontClimateCrisis: 'Climate Crisis', cursive;
$fontRaleway: 'Raleway', sans-serif;

$mainColor: #FFD200
